/* text properties */
@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Syne+Tactile&display=swap');

h1{
    font-size: 70px;
    /* Control the thickness of the text (100 to 900)*/
    font-weight: 400;
    text-align: center;
    /* font-style: italic; */
    text-decoration: underline wheat;
    letter-spacing: 20px;
    word-spacing: 40px;
    text-transform: uppercase;
    /* text-shadow: 3px 4px 3px red; */
    font-family: "Syne Tactile", system-ui;   
}

a{
    font-size: 30px;
    text-decoration: none;
}

/* sans-serif, serif and monospace --> These are the 3 font families wchich
will normally support every browser */