
/* Pseduo classes are used to apply some special state to that 
entire HTML data  ==> : */

/* Pseudo elements are also used to apply some special
state to the part of HTML data ==> :: */


/* p::first-letter
{
    font-size: 50px;
    color: red;
} */


/* p::first-line
{
    font-size: 50px;
    color: red;
} */

/* after and before pseudo elements play an important role 
when we work with CSS Animations */

/* h1::after
{
    content: " easy";
} */

/* h1::before{
    content: "Learning ";
} */

/* h1::selection
{
    color: red;
} */