/* pseudo classes = pseudo classes are used to defined some special state to our HTML data */
/* : */

/* pseudo(greek word) = false or not genuine */

/* All the pesudo classes :hover, :visited, .....these are not the inbuilt classes
which are present in HTML language */

a{
    text-decoration: none;
}

/* Exactly work at the time of keeping cursor on the link */
a:hover{
    border: 1px solid black;
    padding: 5px;
}

/* Exactly at the time of clicking that link */
a:active{
    background-color: red;
}

/* Once the link is clicked and visited */
a:visited{
    background-color: magenta;
}

/* If the link is not visited */
a:link
{
    background-color: green;
}

